<p>Nombre del empleado: {{nombre}}</p>
<p>Apellido del empleado: {{apellido}}</p>
<p>Edad del empleado: {{edad<18 ? "Menor de edad":"mayor de edad"}}</p>
<p>Empresa del empleado: {{empresa}}</p>

<!-- Introduce la empresa: <input type="text" #empresa (keyup)="0" [disabled]="habilitacionCuadro">-->
Introduce la empresa: <input type="text" [(ngModel)]="empresa">
<br><br>

{{textoDeRegistro}}
<br>
Registrado: <input type="radio" value="si" name="nRegistro" id="registro" [checked] = "usuRegistrado" (click)="setusuarioRegistrado($event)">
<br>
No registrado: <input type="radio" value="no" name="nRegistro" (click)="setusuarioRegistrado($event)">



{{getRegistroUsuario()}}
